<app-top-nav></app-top-nav>
<app-main></app-main>
<div class="relative inline-block px-5 py-3 border-2 border-[#c8a774] rounded-md 
    before:content-[''] before:absolute mx-5">
    <h1
        class="text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-[#c8a774] to-[#e6c999] tracking-wide font-[Playfair_Display]">
        THEE FURNIVO
    </h1>

    <span class="absolute -bottom-4 right-4 text-[#c8a774] italic text-lg bg-white px-1 font-['Parisienne']">
        Elevate Living
    </span>
</div>
<img src="../../assets/logo/thee-furnivo-logo.png" alt="" style="height:10rem;width:10rem">

<app-footer></app-footer>