<!-- <div class="flex flex-col items-center justify-center min-h-screen bg-background text-text p-10">
  <h1 class="text-3xl font-bold mb-6">Tailwind Theme Switcher</h1>

  <div class="flex flex-wrap gap-3">
    <button
      class="px-6 py-3 rounded-lg bg-[var(--primary-color)] text-white font-semibold shadow-lg transition-all duration-300 hover:brightness-90"
      (click)="setTheme('light')">Light Theme</button>

    <button
      class="px-6 py-3 rounded-lg bg-[var(--primary-color)] text-white font-semibold shadow-lg transition-all duration-300 hover:brightness-90"
      (click)="setTheme('dark')">Dark Theme</button>

    <button
      class="px-6 py-3 rounded-lg bg-[var(--primary-color)] text-white font-semibold shadow-lg transition-all duration-300 hover:brightness-90"
      (click)="setTheme('blue')">Blue Theme</button>

    <button
      class="px-6 py-3 rounded-lg bg-[var(--primary-color)] text-white font-semibold shadow-lg transition-all duration-300 hover:brightness-90"
      (click)="setTheme('green')">Green Theme</button>

    <button
      class="px-6 py-3 rounded-lg bg-[var(--primary-color)] text-white font-semibold shadow-lg transition-all duration-300 hover:brightness-90"
      (click)="setTheme('red')">Red Theme</button>
  </div>
</div> -->
<app-layout></app-layout>